<div>
    <app-nav-bar-two></app-nav-bar-two>
</div>

<div class="container" style="margin-top: 5%;">
  <h3>Development</h3>
  <div class="row align-items-start">
    <div class="col">
      <img src="/assets/images/angular.png" style="width: 50%;">
      <p>
        I chose angular as my framework to work with due to its growing popularity and ease of use. Since the application has a dashboard feel to it, I wanted to be able to work with different parts of the page, or components, and update them individually. We never learned Angular throughout our degree program, so I also wanted to challenge myself to learn a totally new technology.
      </p>
    </div>
    <div class="col">
      <img src="/assets/images/node.png" style="width: 50%; padding-top: 30px;">
      <p>
        Since I chose Angular, I knew that I would be working with Typescript and JavaScript which Node.js can be used to easily install all build and development tools that I would need. I have never worked with or learned Typescript before, so I wanted to challenge myself to learn and familiarize myself with Typescript and NPM.
      </p>
    </div>
    <div class="col">
      <img src="/assets/images/visualstudio_code.png" style="width: 60%; padding-top: 30px;">
      <p>
        Much like the other technologies, I chose Visual Studio Code as my IDE due to the fact that I have never used it before. I have also heard from others who have worked with Angular that Visual Studio Code is a great IDE to develop Angular applications. 
      </p>
    </div>
    <div class="col">
      <img src="/assets/images/firebase.png" style="width: 70%; padding-top: 30px;">
      <p>
        Throughout our degree program, we have mainly worked with MySQL as our database for projects. For this project, I wanted to utilize a different database and I chose Firebase to gain more experience with the Google Web Services. 
      </p>
    </div>
  </div>
  <br>
  <br>
  <h3>API's</h3>
  <div class="row align-items-center">
    <div class="col">
      <img src="/assets/images/google.png" style="width: 20%; margin-left: 25px;">
      <p>
        At Ticketmaster, most of the status reporting is done via Google Sheets, so I wanted to integrate the Google Sheets API so that users could access information from Google straight through the application.
      </p>
    </div>
    <div class="col">
      <img src="/assets/images/box.png" style="width: 30%;">
      <p>
        Box is utilized at Ticketmaster to not only make it easier for employees to save important files, but to share and distribute these files amongst different teams. Being able to integrate Box into the application was a very important feature and I was able to gain great experience working with their API.
      </p>
    </div>
    <div class="col">
      <img src="/assets/images/atlassian.png" style="width: 100%;">
      <p>
        Another platform that is widely used to manage work at Ticketmaster is Jira. Almost every team utilizes Jira Software to create backlogs, manage issues, and keep track of their sprints, so because of this I wanted to integrate the Jira API so that users can access their issues straight in the application.
      </p>
    </div>
  </div>
  <br>
  <br>
  <h3>Hosting</h3>
  <div class="row align-items-end">
    <div class="col">
      <img src="/assets/images/heroku.png" style="width: 20%;">
      <p>
        I chose Heroku as my hosting solution due to its ease of use, auto-deployment with GitHub, and free-tier usage. After gaining experience deploying to AWS, Azure, GCP, and Heroku, I found Heroku to be the best solution for this project.
      </p>
    </div>

  </div>

  <hr>

  <div class="technical_approach">
    <h1>Technical Approach</h1>
    <br>
    <div class="logical_solution">
      <h5>Logical Solution Design</h5>
      <p>
        The logical solution to this design is intended to show how the software components of the application interact and work together both logically and functionally, represented with an N-Tier Architecture.
      </p>
      <img src="/assets/images/LogicalSolutionDesign.png">

    </div>
    <br>
    <br>
    <div class="physical_solution">
      <h5>Physical Solution Design</h5>
      <p>
        The physical solution below aims to showcase the infrastructure and how the application interacts with servers, hosting, databases, protocols, and firewalls.
      </p>
      <img src="/assets/images/PhysicalDiagram.png">

    </div>
    <br>
    <br>
    <div class="uml">
      <h5>UML Diagram</h5>
      <p>
        Below is the UML Class Diagram that depicts the system’s classes, attributes, methods, and relationships.
      </p>
      <img src="/assets/images/UML.png">

    </div>
    <br>
    <br>
    <div class="sitemap">
      <h5>Sitemap Diagram</h5>
      <p>
        The sitemap diagram below is a visual map that shows connections between web pages and features throughout the application.
      </p>
      <img src="/assets/images/Sitemap.png">
    </div>
    <br>
    <br>
    <div class="flow_chart">
      <h5>Flow Chart</h5>
      <p>
        The flow chart below helps to showcase how the application will flow based on user interaction.
      </p>
      <img src="/assets/images/FlowChart.png">
    </div>
  </div>
  <div style="text-align: center; margin-top: 50px; padding-bottom: 20px;">
    <p>Click below to learn more about the challenges and issues encountered</p>
    <a mdbBtn type="button" color="primary" outline="true" mdbWavesEffect href="/challenges">Challenges/Issues</a>
</div>
</div>