<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand style="width: 10%; margin-right: 20px;"><a class="navbar-brand" href="/home"><img src="/assets/images/tmLogo.png" style="width: 100%;"></a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto" style="margin-top: 5px;">
        <li class="nav-item active">
          <a href="/home" id="navBarItems" class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a href="/requirements" id="navBarItems" class="nav-link waves-light" mdbWavesEffect>FRS & NFRS</a>
        </li>
        <li class="nav-item">
          <a href="/technologies" id="navBarItems" class="nav-link waves-light" mdbWavesEffect>Technologies</a>
        </li>
        <li class="nav-item">
          <a href="/challenges" id="navBarItems" class="nav-link waves-light" mdbWavesEffect>Challenges & Issues</a>
        </li>
  
      
  
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->