<div>
    <app-nav-bar-two></app-nav-bar-two>
</div>

<div class="requirements_body">

    <div class="functional_requirements">

        <h1>Functional Requirements</h1>
        <p>
            Below are the functional requirements for the application as it currently stands. To view the functional requirements including the requirements placed out of scope, please click <a href="/challenges">here</a>.
        </p>

        <img src="/assets/images/fr1.png">
        <img src="/assets/images/fr2.png">

    </div>
<br>
<hr>
    <div class="nonfunctional_requirements">

        <h1>Non-Functional Requirements</h1>

        <img src="/assets/images/nfr.png">

    </div>


</div>

<div style="text-align: center; margin-top: 50px; padding-bottom: 20px;">
    <p>Click below to check out the technologies used in this application</p>
    <a mdbBtn type="button" color="primary" outline="true" mdbWavesEffect href="/technologies">Technologies</a>
</div>