.risks {
    margin-top: 3%;
    padding-left: 20px;
}

.challenges {
    margin-top: 3%;
    padding-left: 20px;
}

.overall {
    margin-top: 3%;
    padding-left: 20px;
}

.outstanding {
    margin-top: 3%;
    padding-left: 20px;
}

.initialFR {
    margin-top: 3%;
    padding-left: 20px;
}