<div>
    <app-nav-bar></app-nav-bar>
</div>
<!--Intro-->
<div class="home_container view intro jarallax">
        <div class="image_text">
            <!-- Image Avatar -->
                <div class="avatar mx-auto">
                <img src="/assets/images/gcuLogo.png" class="rounded-circle z-depth-1"
                    alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Jake Taylor</h5>
                <h6>Senior Capstone | CST-452 </h6>
                <h6>Grand Canyon University</h6>
            <!-- Image Avatar -->
            <a mdbBtn type="button" color="primary" outline="true" mdbWavesEffect href="/home#section1">Learn More</a>

        </div>
</div>
<!--Intro-->
<!--Main-->
<div id="section1">
    <div class="home_body">
        <h1 style="text-align: center;">Ticketmaster PMO Application</h1>
        <br>
        <div class="introduction">
            <h5 style="font-weight: 400; font-style: italic;">Introduction</h5>
            <p style="text-indent: 50px;">At Ticketmaster, there are many different development teams across 4 separate segments; Enterprise, Marketplace, Resale, and TechOps. Each segment consists of various teams working on a number of different projects. Along with the projects in these different segments, there are also 4 major programs outside of the segments that contain a number of development teams as well. These programs include Secure Ticketing, CCPA, Host Modernization, and Tokenization. 
            </p>
            <br>
            <h5 style="font-weight: 400; font-style: italic;">The Problem</h5>
            <p style="text-indent: 50px;">With all of these projects and programs and various development teams, status reporting can become very inconsistent and hard to track across the organization. As an intern in Program Management, my summer project was to find a way to consolidate the status reports that are being sent out, and to come up with a new method to maintain consistency across all teams.</p>
            <br>
            <h5 style="font-weight: 400; font-style: italic;">The Goal</h5>
            <p style="text-indent: 50px;">The goal of this project is to develop a tool that the entire PMO can use to easily track, manage, and share status reports, newsletters, and any other information that is shared across the company. Currently, Ticketmaster uses tools such as Google Docs, Google Sheets, Smartsheet, Confluence, MailChimp, Box, Microsoft Excel, Microsoft Word, and Jira to track, document, create, and distribute status reports for each segment. This project aims to simplify and consolidate these tools into one application, eliminating the need to use different tools and services to accomplish a task.</p>
        </div>

    </div>
    <br>
    <br>
    <div style="text-align: center;">
        <p>Click below to check out the functional and non-functional requirements for this application</p>
        <a mdbBtn type="button" color="primary" outline="true" mdbWavesEffect href="/requirements">FRS & NFRS</a>
    </div>

</div>

<!--Main-->
